<% content_for :cover do %>
  <div class="cover">
    <div class="cover-inner">
      <div class="cover-contents">
        <h1>みんなで楽しむおシャベり</h1>
          <% unless logged_in? %>
            <%= link_to 'シャベる', signup_path, class: 'btn btn-success btn-lg' %>
          <% else %>
            <%= link_to 'シャベる', messages_path, class: 'btn btn-success btn-lg' %>
          <% end %>
      </div>
    </div>
  </div>
<% end %>